
<div class="container mx-auto px-20 py-8">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Annonces Payées</h2>

    <!-- Swiper Slider -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {% for annonce in annonces_payees %}
                <div class="swiper-slide flex flex-col items-center bg-white shadow-lg rounded-lg ">
                    <img src="{{ annonce.image.url }}" alt="{{ annonce.titre }}" class="w-full h-72 object-cover rounded-lg">
                </div>
            {% empty %}
                <p class="text-gray-500 text-center">Aucune annonce payée disponible.</p>
            {% endfor %}
        </div>
        <!-- Navigation buttons -->
        <div class="swiper-button-next text-gray-900"></div>
        <div class="swiper-button-prev text-gray-900"></div>
        <div class="swiper-pagination text-gray-900"></div>
    </div>
</div>

